/* Efeito cascata */

.container-cascata {
    background-color: blue;
}

.container-cascata {
    background-color: red;
}




/* Especificidade */

#meu-paragrafo {
    background-color: violet;
}

.container-especificidade p {
    background-color: chartreuse;
}

p {
    background-color: lightblue;
}