/* seletor::pseudo-elemento {
    propriedade: valor;
 } */

.first-letter::first-letter {
    color: coral;
}

.first-line::first-line {
    color: coral;
}

.first-line::first-letter {
    color: blue;
}

li::marker {
    color: red;
    font-size: 23px;
}

.before::before {
    content: url(01.png);
}

.after::after {
    content: url(01.png);
}