:root {
    --cor-padrao: green;
    --tamanho-de-fonte: 20px;
}

h2 {

    --cor-background: lightblue;

    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-de-fonte, 20px);
    background-color: var(--cor-background);
}

h3 {
    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-de-fonte, 20px);
}

p {
    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-de-fonte, 20px);
}

span {
    color: var(--cor-padrao, blue);
    font-size: var(--tamanho-de-fonte, 20px);
}