h1 {
    color: green;
}

.paragrafo {
    color: blue;
}

#menu {
    margin-left: 100px;
}

* {
    padding: 0;
}

.titulo {
    font-size: 30px;
}

.titulo.laranja {
    color: orange;
}

.titulo.vermelho {
    color: red;
}

p, span {
    font-size: 10px;
    color: steelblue;
}

.sobre .texto {
    color: palevioletred;
}

div>p {
    font-size: 30px;
    color: cadetblue;
}

div+p {
    font-size: 30px;
    color: rebeccapurple;
}

a[target="_blank"] {
    color: red;
}

/* https://www.w3schools.com/cssref/css_selectors.php */